 <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
<h1>New Item</h1>

<%= render 'form' %>

<p><%= link_to "Back to Outfit", @item.outfit %></p>
